<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="signercert" value="path to certificate"/>
    <add key="signerpwd" value="certificate password"/>
    <add key="serviceUrlTest" value="https://hs-abnahme.a-trust.at/aktivierung/v3"/>
    <add key="serviceUrl" value="https://www.a-trust.at/aktivierung/v3"/>
</appSettings>
</configuration>
